#main_nav{
    position: fixed;
    right: 0px;
    top: 0px;
    width: 50%;
}
#main_menu{
    position: absolute;
    right: 0px;
}
#main_menu > li{
    list-style-type: none;
    margin: 0px 5px 0px 0px;
    padding: 0px;
    display: inline-block;
}
#user_info{
    position: absolute;
    left: 10px;
    bottom: 2px;
}
.avatar_small{
    height: 25px;
    width: auto;
}
