#main_nav{
    position: fixed;
    right: 0px;
    top: 0px;
    width: 50%;
}
#main_menu{
    position: absolute;
    right: 0px;
}
#main_menu > li{
    list-style-type: none;
    margin: 0px 5px 0px 0px;
    padding: 0px;
    display: inline-block;
}
#user_info{
    position: absolute;
    left: 10px;
    bottom: 2px;
}
.avatar_small{
    height: 25px;
    width: auto;
}
/*main content*/
#main_content{
    position: relative;
    top: 50px;
}

/*login styles*/
.login_small input{
    width: 80%;
    line-height: 8vh;
    height: 8vh;
    font-size: 5vh;
    margin: 0 auto;
    
}
.login_dialog{
    position: relative;
}
.login_form{
    position: absolute;
    top: 21px;
    right: 0%;
    width: 100px;
    height: 100px;
    background: green;
    text-align: center;
    border-radius: 2.5%;
    border: 1px solid gray;
    background-color: lightgray;
}
.login_small >.login_submit{
    margin-top: 5px;
}
